<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project_test">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <permission
        android:name="com.example.project_test.permission.MAPS_RECEIVE"
        android:label="signiture" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDh5rzreffI30ttHVjXfWDYP_fWTw5YdAE" />

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity android:name=".MainActivity" android:label="메인 화면"/>
        <activity android:name=".LoginActivity" android:label="자취인톡">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JoinActivity" android:label="회원가입 화면"/>
        <activity android:name=".BoardActivity" android:label="게시판메인 화면"/>
        <activity android:name=".Recipe.RecipeBoardActivity" android:label="자취앤집밥 화면" android:theme="@style/MyMaterialTheme"/>
        <activity android:name=".Recipe.RecipeRandom" android:label="랜덤추천 팝업" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".Food.FoodActivity" android:label="자취앤혼밥 게시판 화면"/>
        <activity android:name=".Food.FoodContent.FoodActivityContent" android:label="자취앤혼밥 게시물 내용"/>
        <activity android:name=".Meet.MeetActivity" android:label="자취인만남 게시판 화면"/>
        <activity android:name=".Meet.MeetContent.MeetActivityContent" android:label="자취인만남 게시물내용"/>
        <activity android:name=".qa.qaActivity" android:label="QA 게시물목록"/>
        <activity android:name=".qa.qaContent.qaActivityContent" android:label="QA 게시물내용"/>
        <activity android:name=".qa.qaContent.QAWritingActivity" android:label="자취큐앤에이 글쓰기 화면"/>
        <activity android:name=".Info.InfoActivity" android:label="자취인정보 게시판 화면"/>
        <activity android:name=".Info.InfoContent.infoActivityContent" android:label="자취인정보 게시물내용"/>
        <activity android:name=".SharenRent.SharenRentActivity" android:label="자취와생활 게시판 화면" />
        <activity android:name=".Writing.WritingActivity" android:label="자취앤집밥 글쓰기 화면"/>
        <activity android:name=".Writing.FoodWritingActivity" android:label="자취앤혼밥 글쓰기 화면"/>
        <activity android:name=".Writing.InfoWritingActivity" android:label="자취인정보 글쓰기 화면"/>
        <activity android:name=".Writing.MeetWritingActivity" android:label="자취인만남 글쓰기 화면"/>
        <activity android:name=".Modify.InfoModifyActivity" android:label="자취인정보 글수정 화면"/>
        <activity android:name=".Modify.RecipeModifyActivity" android:label="자취앤집밥 글수정 화면"/>
        <activity android:name=".Modify.FoodModifyActivity" android:label="자취앤혼밥 글수정 화면"/>
        <activity android:name=".Modify.QnaModifyActivity" android:label="자취qna 글수정 화면"/>
        <activity android:name=".Modify.MeetModifyActivity" android:label="자취인만남 글수정 화면"/>
        <activity android:name=".Content.ContentWithPicture" android:label="사진이 있는 게시물내용"/>
        <activity android:name=".RoomActivity" android:label="보금자리 화면"/>
        <activity android:name=".DaumWebViewActivity" android:label="보금자리 글쓰기 화면"/>
        <activity android:name=".EventActivity" android:label="행사알리미 화면"/>
        <activity android:name=".Emergency.EmergencyActivity" android:label="안전지키미 화면"/>
        <activity android:name=".Emergency.EmergencySet" android:label="안전지키미 설정화면" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".ShakeNumberActivity" android:label="흔들림횟수 화면"/>
        <activity android:name=".Mypage.MyPageActivity" android:label="마이페이지"/>
        <activity android:name=".Mypage.MyInfoSetActivity" android:label="내 정보 수정 화면"/>
        <activity android:name=".Mypage.MyContents.MyContentsActivity" android:label="내가 쓴 글 목록"/>

        <receiver android:name=".BootReceiver"
            android:enabled="true"
            android:label="부팅시 작동하는 브로드캐스트 리시버">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".ShakeService"
            android:label="백그라운드 흔들림 감지 서비스">
        </service>

    </application>

</manifest>